<div class="flex justify-center items-center h-screen">
    <div class="container mx-auto">
      <div class="bg-white p-8 rounded-lg shadow-lg w-500 p-2">
        <div class="container">
          <div class="title-container">
            <h1 class="page-title">Liste Workflows > <span>
              détails workflow: {{workflow.name}}
            </span></h1>
          </div>

          <label for="description">Description</label>
          <input type="text" id="text" name="description" [(ngModel)]="newWorkflowExecution.description"  placeholder="Description">
         <div class="container-addButton">
          <button class="nav-link" (click)="AddNewExecution()" >
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#fff" class="bi bi-plus-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
            </svg>
            Nouvelle exécuter 
            
          </button>
         </div>
  
          <table *ngIf="listWorkflowEx.length>0" >
            <thead>
              <tr>
                
                <th class="col-nom">Description</th>
                <th class="col-nom">Date début</th>
                <th class="col-nom">Date fin</th>
                <th class="col-nom">État</th>
                <th class="col-nom"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let workflowEx of listWorkflowEx | slice: (pageIndex - 1) * pageSize : pageIndex * pageSize, let i = index">
                <td class="col-nom">{{ workflowEx.description }}</td>
                <td class="col-nom">{{ workflowEx.start_date }}</td>
                <td class="col-nom" >{{ workflowEx.end_date }}</td>
                <td class="col-nom">{{ workflowEx.state }}</td>

                

                  <td class="col-nom">
  
                  <button *ngIf="workflowEx.state == 'Ouvert'" (click)="continue(workflowEx.id)"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffee00" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                  </svg></button>

                </td>
              </tr>
            </tbody>
          </table>
          <mat-paginator [length]="listWorkflowEx.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange($event)" [hidePageSize]="true">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
  